<ul class="list-inline collection-highlights-list">
  <% locale = (request.query_parameters.key?("locale") ? "&locale="+request.query_parameters["locale"] : "" )%>

  <% collections.each do |collection| %>
    <li> 
      <%= link_to(collection.title_or_label, "catalog?f%5Bmember_of_collections_ssim%5D%5B%5D=" + collection.title_or_label+locale, html_options = {})  %>
    </li>
  <% end %>
 
</ul>
<ul class="list-inline collection-highlights-list explore-collections">

  <li>
    <%#= link_to t('hyrax.homepage.admin_sets.link'),
                main_app.search_catalog_path(f: { human_readable_type_sim: ["Collection"]}),
                class: '' %>
  </li>
</ul>