  <div class="col-md-3 menu-home">
    <h4><%= t('hyrax.homepage.admin_sets.title') %></h4>
    <%= render 'explore_collections', collections: @presenter.collections %>
    <h4 id="recently_uploaded_title"><%= t('hyrax.homepage.recently_uploaded.tab_label') %></h4>
    <%= render 'recently_uploaded', recent_documents: @recent_documents %>
  </div>
  <div class="col-md-9 centros">
    <div class="row">
      <div class="col-md-6">
          <a href="catalog?f%5Bcenter_sim%5D%5B%5D=Centro+de+Estudios+Económicos">
            <img src="/img/cee.png" alt="cee">
            <span>Centro de Estudios Económicos</span>
          </a>
      </div>
      <div class="col-md-3">
        <a href="catalog?f%5Bcenter_sim%5D%5B%5D=Centro+de+Estudios+Lingüísticos+y+Literarios">
          <img src="/img/cell.png" alt="cell">
          <span>Centro de Estudios Lingüísticos y Literarios</span>
        </a>
      </div>
      <div class="col-md-3">
        <a href="catalog?f%5Bcenter_sim%5D%5B%5D=Centro+de+Estudios+de+Asia+y+África">
          <img src="/img/ceaa.png" alt="ceaa">
          <span>Centro de Estudios de Asia y África</span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <a href="catalog?f%5Bcenter_sim%5D%5B%5D=Centro+de+Estudios+Demográficos%2C+Urbanos+y+Ambientales">
          <img src="/img/cedua.png" alt="cedua">
          <span>Centro de Estudios Demográficos, Urbanos y Ambientales</span>
        </a>
      </div>
      <div class="col-md-4">
        <a href="catalog?f%5Bcenter_sim%5D%5B%5D=Centro+de+Estudios+Históricos">
          <img src="/img/ceh.png" alt="ceh">
          <span>Centro de Estudios Históricos</span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a href="catalog?f%5Bcenter_sim%5D%5B%5D=Centro+de+Estudios+Internacionales">
          <img src="/img/cei.png" alt="cei">
          <span>Centro de Estudios Internacionales</span>
        </a>
      </div>
      <div class="col-md-6">
        <a href="catalog?f%5Bcenter_sim%5D%5B%5D=Centro+de+Estudios+Sociológicos">
          <img src="/img/ces.png" alt="ces">
          <span>Centro de Estudios Sociológicos</span>
        </a>
      </div>
    </div>
  </div>
