<h2 class="sr-only"><%= t('hyrax.homepage.recently_uploaded.title') %></h2>
<% if recent_documents.blank? %>
  <p><%= t('.no_public') %></p>
<% else %>
  <div id="recent_docs">
    <ol class="list-group list-group-striped recent_uploads">
      <%= render partial: "recent_document", collection: recent_documents %>
    </ol>
<!--
    <h4 id="recently_uploaded_title"><%= t('hyrax.homepage.recently_uploaded.creator') %></h4>

    <ol class="list-group list-group-striped recent_uploads">
      <%#= render partial: "recent_creator" %>
    </ol>
-->
  </div>
<% end %>
