<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>El usuario, <%= @user_validate %></h1>
    <p>
      Ha pasado con éxito la validación de su trabajo CSV tipo: <%=  @type_work%>.<br>
    </p>
    <p>
      Con el archivo que se adjunto en el correo.
    </p>
    <p>Que tenga un excelente dia!</p>
  </body>
</html>
