<li class="h5"><%= t('hyrax.admin.sidebar.imports') %></li>

<li>
    <a href="/imports/new">
    <span class="fa fa-upload" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.new_import') %></span></a>
</li>
<li>
    <a href="/imports">
    <span class="fa fa-list" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.history') %></span></a>
</li>
<li>
    <a href="/updates/new">
    <span class="fa fa-refresh" aria-hidden="true"></span> <span class="sidebar-action-text">Nueva actualizacion</span></a>
</li>
<li>
    <a href="/updates">
    <span class="fa fa-history" aria-hidden="true"></span> <span class="sidebar-action-text">Historial de actualizaciones</span></a>
</li>