<li class="h5"><%= t('hyrax.admin.sidebar.imports') %></li>

<li>
    <a href="/import">
    <span class="fa fa-file" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.new_import') %></span></a>
</li>
<li>
    <a href="/validations">
    <span class="fa fa-file" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.history') %></span></a>
</li>