  <li class="h5"><%= t('hyrax.admin.sidebar.validation_csv') %></li>

<li>
    <a href="/validations">
    <span class="fa fa-file" aria-hidden="true"></span> <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.validate_csv') %></span></a>
</li>