<div class="no-preview">
  <%= t('hyrax.works.show.no_preview') %>
  <% if Hyrax.config.display_media_download_link? %>
          <%= render "shared/download_link", file_set: file_set  %>
  <% end %>
</div>
