<div class="search-results-title-row">
  <h4 class="search-result-title">
    <%= link_to document.title_or_label, document %>
    <%= ":" + document.other_title unless document.other_title.nil? %>
  </h4>
</div>
