/* fonts */

div.jqcloud {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  line-height: normal;
}

div.jqcloud a {
  font-size: inherit;
  text-decoration: none;
}

div.jqcloud span.w10 { font-size: 550%; }
div.jqcloud span.w9 { font-size: 500%; }
div.jqcloud span.w8 { font-size: 450%; }
div.jqcloud span.w7 { font-size: 400%; }
div.jqcloud span.w6 { font-size: 350%; }
div.jqcloud span.w5 { font-size: 300%; }
div.jqcloud span.w4 { font-size: 250%; }
div.jqcloud span.w3 { font-size: 200%; }
div.jqcloud span.w2 { font-size: 150%; }
div.jqcloud span.w1 { font-size: 100%; }

/* colors */

div.jqcloud { color: #6C112F; }
div.jqcloud a { color: inherit; }
div.jqcloud a:hover { color: #F5DDE2; } /* nuevo tono 11 para hover */
div.jqcloud span.w10 { color: #6C112F; }
div.jqcloud span.w9  { color: #8B1E3F; }
div.jqcloud span.w8  { color: #A42B4F; }
div.jqcloud span.w7  { color: #C54565; }
div.jqcloud span.w6  { color: #E16A7C; }
div.jqcloud span.w5  { color: #F29C9F; }
div.jqcloud span.w4  { color: #5C0E2A; }
div.jqcloud span.w3  { color: #4A0B21; }
div.jqcloud span.w2  { color: #6C3F52; }
div.jqcloud span.w1  { color: #B24C8D; }


/* layout */

div.jqcloud {
  overflow: hidden;
  position: relative;
}

div.jqcloud span { padding: 0; }