.navbar-brand {
    height: 80px !important;
}

#logo>img {
    width: 100%;
    max-width: 200px;
}

.citation-way {
    text-align: justify;
    text-justify: inter-word;
}



.input-small {
    border-radius: 5px;
    background-color: white;
}

ul.navbar-nav>li>a {
    text-align: center;
}

#pdf_modal .modal-dialog { 
    width: 95%;
    height: 100%;

}

#pdf_modal .modal-content {
    height: 95%;
}

#pdf_modal .modal-body {
    height: 95%;
}

.navbar-nav {
    margin: 7.5px;
}

/* ul.tabular {
    padding-inline-start: 0px;
} */

.work-show dd {
    margin-left: 0px;
}

#search-form-header{
    padding-top: 15px;
}

#user_utility_links{
    padding-top: 8px;
}

#user_utility_links a{
    padding: 15px 5px;
}


.image-masthead h1 {
    margin-top: 5%;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 64px;
}

@media (min-width: 768px) {
    #content-wrapper {
        padding-top: 30px;
    }

    .searchdown {
        visibility: hidden;
        height: 0px;
    }

    
}

@media (max-width: 768px) {
    .site-footer {
        height: 300px;
    }
    #content-wrapper {
        padding-bottom: 20%;
        
    }

    .searchup {
        visibility: hidden;
    }
}