.navbar-brand {
    height: 80px !important;
}

#logo>img {
    width: 200px;
}

.citation-way {
    text-align: justify;
    text-justify: inter-word;
}

@media (min-width: 768px) {
    #content-wrapper {
        padding-top: 30px;
    }
}

.input-small {
    border-radius: 5px;
    background-color: white;
}

ul.navbar-nav>li>a {
    text-align: center;
}

#pdf_modal .modal-dialog { 
    width: 95%;
    height: 100%;

}

#pdf_modal .modal-content {
    height: 95%;
}

#pdf_modal .modal-body {
    height: 95%;
}

.navbar-nav {
    margin: 7.5px;
}

@media (max-width: 768px) {
    .site-footer {
        height: 300px;
    }
}

/* ul.tabular {
    padding-inline-start: 0px;
} */

.work-show dd {
    margin-left: 0px;
}