.navbar-brand {
    height: 80px !important;
}

#logo>img {
    width: 100%;
    max-width: 200px;
}

.citation-way {
    text-align: justify;
    text-justify: inter-word;
}



.input-small {
    border-radius: 5px;
    background-color: white;
}

ul.navbar-nav>li>a {
    text-align: center;
}

#pdf_modal .modal-dialog { 
    width: 95%;
    height: 100%;

}

#pdf_modal .modal-content {
    height: 95%;
}

#pdf_modal .modal-body {
    height: 95%;
}

.navbar-nav {
    margin: 7.5px;
}

.work-show dd {
    margin-left: 0px;
}

#search-form-header{
    padding-top: 15px;
}

#user_utility_links{
    padding-top: 8px;
}

#user_utility_links a{
    padding: 15px 10px;
}


.image-masthead h1 {
    margin-top: 3%;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
}





.image-masthead > .background-container {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    width: auto;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center center !important;
    -webkit-filter: none;
    filter: none;
}

#world {
    font-size: 20px;
    margin-top: -20px;
}

#top-navbar-collapse{
    padding-left: 3%;
}

.navbar-inverse .navbar-nav .actives > a {
    text-decoration: underline;
}

#masthead a:hover{
    color: #000000;
    font-weight: bolder ;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

.container-fluid{
    margin-top: -10px;
    
} 

.navbar-header > .navbar-toggle {
    background-color: black;
}

footer img{
    vertical-align:top;
}

.navbar-inverse {
    border: 0px;
}

footer.navbar-inverse {
    border-top: 3px solid #6b163a;
}

#masthead.navbar-inverse {
    border-bottom: 3px solid #6b163a;
}

.centros >.row > div {
    /* padding: 15px; */
    padding: 7px;
}

.centros img{
    width: 100%; 
    height: 200px;
}

.centros span{

    position: absolute;
    /* right: 15px;
    bottom: 15px; 
    left: 15px; */
    right: 7px;
    bottom: 7px;
    left: 7px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    background-color: #6b1639bd;
    font-size: medium;
}

.centros .row div:hover  span{
    color: #000;
    background-color: #E8E3E3bd;
}

.menu-home{
    background-color: #e8e3e3;
}

.invisible {
    visibility: visible !important;
}

#user_utility_links b.caret{
    margin-left: 0px !important;
}

#recently_uploaded_title{
    margin-top: 50px;
}

#masthead > .container-fluid > .row
{
    margin-top: 10px;
}

#content-wrapper {
    background-color: white;
    padding-right: 20px;
    padding-left: 30px;

}

footer .container-fluid {
    background-color: white;
}

.site-footer {
    padding: 10px 0px;
    margin-top: 0px;
    height: 132px;
}

.home-content > .row{
    padding-bottom: 30px;
}

.menu-home .list-inline li{
    display: block;
}



#content-wrapper .row {
    margin-left: 10px;
    margin-right: 10px;
}

.menu-home {
    padding:  20px;
   
}

#recent_docs li{
    background-color: #e8e3e3;
}

#form-container {
    padding: 30px;
    margin-bottom: 30px;
}

#user-util-links span{
    padding-left: 5px;
}

/* .explore-collections a{
    font-weight: bolder;
} */

.breadcrumb {
    margin: 25px;
}


ul.tabular {
    padding-left: 0px;
}

.menu > a{
    cursor: default;
    padding: 2px !important;
}

#content-wrapper {
    padding: 0px !important;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #000000;
}

#square-menu {
    display: inline;
    border: none !important;
    background-color: white !important;

}

#square-menu:hover {
    background-color: white;
}

#square-menu .icon-bar{
    background-color: black;
    width: 10px;
    height: 1px;
}

h2, .modal-title, .h2{
    font-size: 1.5em;
} 

.centros span { 
    font-size: inherit; 
}  

.social-media{
    text-align: right;
    padding-right: 0px;
}

.social-media > a{
    margin-right: 0px;
}

.citations{
    text-align: left;
    padding-left: 0px;
}

.citations > a{
    margin-left: 0px;
}

.resp-sharing-button__link{
    color: #6b163a;
}

.citations i, .social-media i{
    font-size: 20px;
}

.citations a{
    margin-right: 20px;
}

.social-media i{
    margin-left: 20px;
    color: #6b163a;
}

@media (min-width: 768px) {

    div.facets h3{
        font-size: 1.0em;
    }

    .main-home{
        display: flex;
        flex-wrap: wrap;


    }

    .menu-home{
        /* min-height: 645px; */
        display: flex;
        flex-direction: column;

    }

    .centros{
        padding-right: 0 !important; 
        padding-left: 0 !important;
        display: flex;
        flex-direction: column;

    } 

    .centros > .row:last-child div {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .centros > .row:last-child div span{
        bottom: 0px;
    }


    .navbar-header {
        float: left;
        margin-left: 3px;
    }

    .col-sm-2 {
        width: 16.4%;
    }

    .searchdown {
        display: none
    }

    #content, #sidebar {
        margin-top: 5%;
    }
    
    .home-content > .col-sm-6 {
        margin-top: -5%;
    }

    #content-wrapper > .alert {
        margin-top: 10px;
        margin-bottom: 80px ;
        
    }

    #content-wrapper > .alert-warning{
        margin-top: 20px;
    }
    
    #square-menu{
        margin-right: 0px;
    }

    

    footer #cc_logo {
        width: 15%;
    }
    
    footer #samvera_logo {
        width: 10%;
    }

    .image-masthead {
        height: 200px;
    }

    .centros > .row > div {
        padding-top: 0px !important;
        margin-bottom: 15px;
    }
    
    #content-wrapper .sidebar{
       top: 83px;
    }

    #content-wrapper .main-content{
        top: 83px;
    }

    .panel-body > table {
        display: none;
    }

    footer .navbar-right {
        width: 50%;
    }
    
    #content-wrapper .row{
        margin-left: 10px !important; 
        margin-right: 0 !important; 
    }
}   
@media (max-width: 768px) {
    
    .site-footer {
        height: 280px;
    }
    
    .searchup {
        display: none;
    }

    .work-show dd {
        margin-left: 0px;
    }

    .menu {
        visibility: hidden;
        height: 0px;
    }

    
    .navbar-toggle {
        margin-top: 6%;
    }

    .image-masthead h1 {
        font-size: 52px;
    }

    footer #cc_logo {
        width: 45%;
    }
    
    footer #samvera_logo {
        width: 30%;
        
    }

    .image-masthead ul{

        padding-right: 0px;

    }

    /* body{
        background-color: #fff
    } */
    
}

@media (max-width: 1280px) {
    .container{
        width: 100%;
    }

}