 <div class="actions form-horizontal panel panel-default">
    <%= button_tag t('hyrax.base.save'), class: "btn btn-primary disabled", data: { action: "save-actions" } %>
    <%= button_tag t('hyrax.base.sort_alphabetically'), class: "btn btn-primary", data: { action: "alpha-sort-action" } %>
  </div>
  <%= render "file_manager_resource_form" %>